runpod
boto3
transformers==5.2.0
diffusers==0.29.0
conformer==0.3.2
safetensors==0.5.3
resemble-perth @ git+https://github.com/resemble-ai/Perth.git@master
s3tokenizer
librosa==0.11.0
spacy-pkuseg
pykakasi==2.3.0
pyloudnorm
omegaconf
accelerate
numpy<2.0.0
